.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: fit-content;
  margin: 120px 0;
}

.central-form {
  max-width: 1100px;
  padding: 10px;
  border-radius: 12px;
  background-color: #1f2235;
}

.central-form h2 {
  text-align: center;
  color: white;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.back-form {
  max-width: 380px;
  margin: 0 auto;
}
.back-form .img-back {
  width: 100%;
  margin-bottom: 20px;
}

.back-form .img-back img {
  width: 100%;
  opacity: 0.5;
}

.col i {
  position: relative;
  left: 46.5%;
  letter-spacing: 1rem;
  color: white;
}
.col i:hover {
  transform: scale(1.5);
}

@media screen and (min-width: 940px) {
  .back-form {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}

.img-back {
  flex: 1;
  align-self: center;
  margin-right: 20px;
}
